<div class="container">
    <h1>Contacto</h1>
    <div id="texto" #textos>
        <p appResaltado>Esta es la página de contacto</p>
    </div>
<!--
    Tamaño del Slider
    <input type="number" [(ngModel)]="widthSlider">
    <button (click)="cargarSlider()">Cargar Slider</button>
    <button (click)="resetSlider()">Reset Slider</button>
    <div *ngIf="anchuraToSlider">
        <slider [anchura]="anchuraToSlider" 
                [etiquetas]="captions" 
                (conseguirAutor)="getAutor($event)">
            </slider>
    </div>
    <h3 *ngIf="autor">Nombre: {{autor.name}} &nbsp;&nbsp; Email: {{autor.email}}</h3>
-->
</div>