<header>
<ul>
  <li><a [routerLink]="['/aboutme']" [routerLinkActive]="['actived']">About Me</a></li>
  <li><a [routerLink]="['/projects']" [routerLinkActive]="['actived']">Projects</a></li>
  <li id="logo"><a href="#">JQ</a></li>
  <li><a [routerLink]="['/create-project']" [routerLinkActive]="['actived']">Create Project</a></li>
  <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contact</a></li>
</ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Master en Javascript &copy;
</footer>
