@font-face {
  font-family: 'yanone';
  src: local('yanone'), 
  url('./assets/fonts/yanone.ttf') format('opentype');
}
@font-face {
  font-family: 'finger';
  src: local('finger'), 
  url('./assets/fonts/finger.ttf') format('opentype');
}
body{
  font-family: "yanone",Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-image: url('./assets/img/pattern.png');
  background-attachment: fixed;
}

.clearfix{
  float: none;
  clear: both;
}

/*Barra de navegación cabecera*/
header{
  display: block;
  width: 100%;
  height: 90px;
  background:rgba(53, 103, 164, 0.8);
  position: fixed;
  text-transform: uppercase;
}

header ul{
  display: block;
  width: 40%;
  height: inherit;
  margin: 0px auto;
  margin-top: -3px;
}

header ul li{
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  line-height: 88px;
}

header a{
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  height: inherit;
  text-decoration: none;
  color: white;
  transition: all 300ms;
}

header a:hover,
.actived{
  background: rgba(0, 0, 0, 0.8);
}
/*Logotipo*/

#logo{
  font-family: "finger";
  font-size: 30px;
}

#logo a{
  transition: color 500ms, transform 500ms;
}

#logo a:hover{
  background: transparent;
  color: black;
  transform: scale(1.50 , 1.50);
}

/* Contendor Principal*/
#content{
  min-height: 500px;
  width: 75%;
  padding-top: 120px;
  margin: 0px auto;
  box-shadow: 0px 0px 40px black;
  border-left: 1px solid #b7b7b7;
  background: rgba(255, 255, 255, 0.7) ;
}

/*Pie de Página*/
footer{
  width: 75%;
  margin: 0px auto;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.5);
}

/*Sobre mi*/
#title{
  width: 70%;
  margin: 0px auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

#title h1{
  font-family: "finger";
  font-size: 60px;
  border-bottom: 1px solid #ccc ;
  padding-bottom: 5px;
}

#title h3{
  font-size: 35px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

#title h4{

  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}
article.about{
  width: 70%;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 23px;
}

.about h2{
   border-bottom: 1px solid #ccc;
   padding-bottom: 5px;
   margin-bottom: 5px;
}

.about p{
  padding-top: 5px;
  padding-bottom: 20px;
  text-align: justify;
}
/*Sección con formulario*/
.container {
  padding: 50px;
  padding-top: 10px;
}

.container h2 {
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

form {
  width: 80%;
}

form label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
  width: 50%;
  padding: 5px;
}

form buttom,
form input[type="submit"]{
  display: block;
  font-size: 17px;
  padding: 10px;
  margin-top: 15px;
  color: white;
  background: rgba(53, 103, 164, 1);
  cursor: pointer;
  border: 1px solid rgba(13, 67, 133, 1);
}

form buttom :hover,
form input[type="submit"]:hover{
  color: white;
  background: rgba(53, 103, 164, 0.8);
  cursor: pointer;
  border: 1px solid rgba(13, 67, 133, 1);
}

.form_error{
  font-size: 13px;
  padding: 5px;
  background: red;
  color: white;
  margin-left: 5px;
}

#text_area{
  line-height: 15px;
}

