@font-face {
  font-family: 'yanone';
  src: local('yanone'), 
  url('./assets/fonts/yanone.ttf') format('opentype');
}
@font-face {
  font-family: 'finger';
  src: local('finger'), 
  url('./assets/fonts/finger.ttf') format('opentype');
}
body{
  font-family: "yanone",Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-image: url('./assets/img/pattern.png');
  position: fixed;
}

/*Barra de navegación cabecera*/

